<%- include ('head') -%>

<div class="contenedor">
    <div class="text">
        <h1> 
             <% if(msg) { %>
                    <%= msg %>
             <% } %>
        </h1>
            <% if(_id == 'o5fPg4t0QyNyu7Xn-OJEHXjNcYDMLXcZ') { %>
                <p>Hi jorge You're Id:
                    <%= _id  %>
                </p>
            <% } %>
    </div>
</div>